section{
    color: aliceblue;
    background-color: blueviolet;
    padding-left: 100px;
    padding-top: 200px;
    padding-bottom: 300px;
    padding-right: 400px;
    margin: 300px; /*margin also contains left right top bottom  */
    border: 20px solid black;
    content: normal;
}