*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgb(52, 73, 110), rgb(34, 53, 86));
}
section>.mainpage{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
}
section>.mainpage>.backsq{
    background: radial-gradient(yellow, orange);
    height: 380px;
    width: 380px;
    border-radius: 10px;
    position: absolute;
    top: 150px;
    transform: rotate(-8deg);
}
section>.mainpage>.frontsq{
    background-color: aliceblue;
    height: 380px;
    width: 380px;
    border-radius: 10px;
    position: relative;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
section>.mainpage>.frontsq input{
    display: block;
    width: calc(100% - 40px);
    height: 30px;
    margin: 10px 0;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: medium;
    background-color: aliceblue;
    border: none;
    border-bottom: 2px solid #272525;
}
section>.mainpage>.frontsq .loginbtn{
    display: block;
    width: calc(100% - 40px);
    height: 40px;
    margin: 20px 0;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: medium;
    border: none;
    background-color: #272525;
    color: aliceblue;
    border-radius: 10px;
    cursor: pointer;
}
section>.mainpage>.frontsq input:focus{
    outline: none;
}

#usersSection{
    height: 100vh;
    width: 100vw;
}

