@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar */ 
article{
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: center;
    border: 0.5px solid #dfdcdc;
}

.Logo{
    width: 20%;
    height: 100%;
    font-size: 27px;
    margin-left: 20px;
    color: #2081e2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Logo>div>p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 70px;
}

.Logo>div>p>svg{
    margin: 10px;
}

.Menu{
    width:60%;
    height: 100%;
}

.Menu>div>ul{
    display: flex;
    align-items: center;
    justify-content:center;
}

.Menu>div>ul>li{
    margin: 11px;
    text-align: center;
    color: #7d7b7b;
    margin-top: 20px;
}

.Menu>div>ul>li>link>select{
    border: none; 
    display: none;
}

.Menu>div>ul>li:hover{
    color: black;
}

.Btn{
    width: 20%;
    height: 100%;
}
.Btn>div>Button{
    margin-left: 80px;
    margin-top: 15px;
    border-radius: 4px;
    border: none;
    color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif,Bold;
    width: 120px;
    height: 30px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2081e2;
}
.Btn>div>Button:hover{
    background-color: #3883cd;
}